body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#jumboBG {
  background-image: url('img/headerbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}

.jumbotron {
  min-height: 300px;
}

h1 {
  letter-spacing: 5px;
}

body {
  background-color: #F2BF91;
}